venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git/
.gitignore
README.md
blockchain/node_modules/
blockchain/cache/
blockchain/artifacts/
blockchain/ignition/
blockchain/test/
blockchain/scripts/
*.log
*.pid
.DS_Store